[user]
	email = mukul.waval@gmail.com
	name = Mukul Waval
[init]
	DefaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
